<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>servlets.Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransPassword</servlet-name>
        <servlet-class>servlets.TransPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unblock</servlet-name>
        <servlet-class>servlets.Unblock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransPassword</servlet-name>
        <url-pattern>/TransPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unblock</servlet-name>
        <url-pattern>/Unblock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
